/* ==========================================================================
   Special styles for presenting Page Template Master Detail
========================================================================== */
.page-masterdetail {
	
}
.page-masterdetail-basic {
	
}
.page-masterdetail-big {
	
}
.page-masterdetail-imagemap {
	
}
.page-masterdetail-multilevel {
	.pageheader {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.control-label {
		color: $gray-darker;
	}
}
